/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
a {
  color: rgb(255, 0, 179);
  transition: 0.3s;
  margin: 0.5rem;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
